<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>

<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Edit User: {{student.id}}</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
            <div class="login-form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="sign-in-htm">
                        <input style="display: none" name="id" value="{{student.id}}">
                        <div class="group">
                            <label for="user" class="label">firstname</label>
                            <input id="user" name="firstname" type="text" class="input" value="{{student.firstname}}">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">secondname</label>
                            <input id="pass" name="secondname" type="text" class="input" value="{{student.secondname}}">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">age</label>
                            <input id="pass" name="age" type="text" class="input" value="{{student.age}}">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">major</label>
                            <input id="pass" name="major" type="text" class="input" value="{{student.major}}">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">address</label>
                            <input id="pass" name="address" type="text" class="input" value="{{student.address}}">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Save">
                        </div>
                        <div class="hr"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>